<h1>Stupid Coaching</h1>
<hr>

<div class="question">
<h3><%= @question %></h3>
<h5><em>- Your question</em></h5>
</div>

<div class="answer">
<h3><%= @answer%></h3>
<h5><em>- Coach answer</em></h5>
</div>
