<h1>Stupid Coaching</h1>

<h3>Let's start...</h3>
<form action="/answer" method="get">
  <label for="question">Ask your question: </label>
  <input type="text" name="question" placeholder="Type the question here">
  <input type="submit" value="Ask" />
</form>
